<!DOCTYPE html>
<html>
  <head>
    <title>jklabs industries</title>
    <style type="text/css" media="screen">
      * { margin: 0; padding: 0;}
      body {
        background: #b3faff;
        padding-bottom: 100px;
        font-family: futura-pt, Helvetica, Arial, sans-serif;
        color: #333;
      }
      
      h1, h1 a {
        font-family: cooper-black-std, Georgia, serif;
        font-weight: normal;
        color: #333 !important;
        font-size: 64px;
        margin-bottom: 40px;
        text-decoration: none;
      }

      .content {
        margin-bottom: 10px;
      }

      .footer {
        font-weight: 100;
        font-size: 0.8em;
      }

      h2 {
        margin-bottom: 10px;
      }

      p {
         line-height: 1.5em;

      }
      
      a {
        color: #333;
      }
      
      a:visited {
        color: #666;
      }

      #main {
        width: 600px;
        margin: 60px auto 0 auto;
        background: #fff;
        padding: 50px;
        box-shadow: 0 0 60px #fff;
        -moz-box-shadow: 0 0 60px #fff;
        -webkit-box-shadow: 0 0 60px #fff;
        -o-box-shadow: 0 0 60px #fff;
        border: 1px solid #bcf3f9;
      }

      .post {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px dotted #ddd;
      }

      .post:last-child {
        border: none;
      }
      
      h2 a {
        text-decoration: none;
      }

      h2 a:hover {
        text-decoration: underline;
      }
      
      .footer img {
        border: 1px solid #eee;
        background: #fff;
        padding: 2px;
        margin-right: 3px;
        vertical-align: -3px;
      }
    </style>
    <script type="text/javascript" src="http://use.typekit.com/tzn2lng.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    
    <div id="main">
      <h1><a href="{{ root_path }}">jklabs industries</a></h1>
    
      {% for post in posts %}
        <div class="post">
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <div class="content">
            {{ post.content }}
          </div>
          <div class="footer">
            <img src="{{ post.gravatar }}?s=10" alt="{{ post.author.name }}"/>
            <span class="author">{{ post.author.name | split:" " | first }}</span>
            &mdash;
            <span class="date">{{ post.created_at | date: '%d %b %Y' }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>